.container h1 {
  font-family: "Asset";
  text-align: center;
  height: 100%;
  font-size: 40px;
}

.eight.greetName {
  color: #000000
  margin-left: 0;
  padding-left: 20px;
  text-transform: capitalize;
}

.displayGreeting {
  text-align: center;
}

.addColor {
  background-color: yellow;
  text-transform:capitalize;
}

.greetButton, .resetButton {
  background-color: #f1f1f1;
  font-weight: bold;
}

.counter {
  font-size: 25px;
  font-weight: bold;
  width: 100%
}

.one {
  font-size: 25px;
}

.header{
  background-color: #E8F3EC

}

.four input, span{
  margin-left: 8%;
}
